<a href="https://colab.research.google.com/github/UdayFirake/Unsupervised_ML-Zomato_Restaurant_Clustering_And_Sentiment_Analysis/blob/main/Unsupervised_ML_Zomato_Restaurant_Clustering_And_Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - <font color="red">**Zomato Restaurant Clustering And Sentiment Analysis**

##### **Project Type**    - <font color="darkclane">Unsupervised
##### **Contribution**    - <font color="shade">Individual

![zomato.webp]()

# **Project Summary -**

**Zomato is an Indian restaurant aggregator and food delivery start-up founded by Deepinder Goyal and Pankaj Chaddah in 2008.**

Zomato provides information, menus and user-reviews of restaurants, and also has food delivery options from partner restaurants in select cities.

India is quite famous for its diverse multi cuisine available in a large number of restaurants and hotel resorts, which is reminiscent of unity in diversity.

Restaurant business in India is always evolving. More Indians are warming up to the idea of eating restaurant food whether by dining outside or getting food delivered.

The growing number of restaurants in every state of India has been a motivation to inspect the data to get some insights, interesting facts and figures about the Indian food industry in each city.

* Here we utilize the advanced data analytics techniques to gain a deeper understanding of the restaurants and customer feedback on the popular online food delivery platform, Zomato.

* The data includes information such as the restaurant's name, location, cuisines, average cost for two, ratings, and user reviews.

* We started with task of data cleaning and preprocessing, which involved the elimination of duplicate entries, addressing missing values and finally making data ready for analysis.

* We then implemented clustering on the restaurant data through the use of the k-means algorithm.

* The objective of the clustering was to group similar restaurants together and figure out patterns within the data.

* The features used for clustering process included the restaurant's location, cuisines, and average cost for two.

* The number of clusters was determined by utilizing the elbow method.

* Then we conducted sentiment analysis on the user reviews to gain understanding of the overall sentiment towards the restaurants.

* Certain libraries were utilized to classify the reviews as positive, negative, or neutral. 

* We also extracted the most recurrent words utilized in the reviews and visualized them through the creation of word clouds.

* The outcome of the analysis revealed that the restaurants within the city were grouped into five clusters based on their location, cuisines, and average cost for two. 

* The sentiment analysis shows customers held a positive sentiment towards the restaurants.

 The insights gained from the analysis can be of immense benefit to both restaurants and customers in making informed decisions.
 
* Furthermore, the project can be extended to other cities or even countries to gain insight into the eating habits and preferences of individuals in different regions.

# **GitHub Link -**

Provide your GitHub Link here.

# **Problem Statement**

**Zomato is an Indian restaurant aggregator and food delivery start-up founded by Deepinder Goyal and Pankaj Chaddah in 2008. Zomato provides information, menus and user-reviews of restaurants, and also has food delivery options from partner restaurants in select cities. India is quite famous for its diverse multi cuisine available in a large number of restaurants and hotel resorts, which is reminiscent of unity in diversity. Restaurant business in India is always evolving. More Indians are warming up to the idea of eating restaurant food whether by dining outside or getting food delivered. The growing number of restaurants in every state of India has been a motivation to inspect the data to get some insights, interesting facts and figures about the Indian food industry in each city. So, this project focuses on analysing the Zomato restaurant data for each city in India.**

**The Project focuses on Customers and Company, you have to analyze the sentiments of the reviews given by the customer in the data and made some useful conclusion in the form of Visualizations. Also, cluster the zomato restaurants into different segments. The data is vizualized as it becomes easy to analyse data at instant. The Analysis also solve some of the business cases that can directly help the customers finding the Best restaurant in their locality and for the company to grow up and work on the fields they are currently lagging in.**

**This could help in clustering the restaurants into segments. Also the data has valuable information around cuisine and costing which can be used in cost vs. benefit analysis.**

**Data could be used for sentiment analysis. Also the metadata of reviewers can be used for identifying the critics in the industry.**

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required. 
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits. 
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 15 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule. 

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]





6. You may add more ml algorithms for model creation. Make sure for each and every algorithm, the following format should be answered.


*   Explain the ML Model used and it's performance using Evaluation metric Score Chart.


*   Cross- Validation & Hyperparameter Tuning

*   Have you seen any improvement? Note down the improvement with updates Evaluation metric Score Chart.

*   Explain each evaluation metric's indication towards business and the business impact pf the ML model used.

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.cm as cm
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from scipy.stats import chi2_contingency
from wordcloud import WordCloud
from scipy.stats import norm

from xgboost import XGBClassifier

#importing contraction
!pip install contractions
import contractions

import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

import warnings
warnings.filterwarnings("ignore")

### Dataset Loading

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Load Dataset
info_df=pd.read_csv('/content/drive/MyDrive/Capstone Projects/Capstone Project 4 :- Zomato Restaurant Clustering And Sentiment Analysis/Zomato Restaurant names and Metadata.csv')
reviews_df=pd.read_csv('/content/drive/MyDrive/Capstone Projects/Capstone Project 4 :- Zomato Restaurant Clustering And Sentiment Analysis/Zomato Restaurant reviews.csv')

### Dataset First View

In [ ]:
# Dataset information First Look
# First 5 observations
info_df.head()

In [ ]:
# Last 5 observations
info_df.tail()

In [ ]:
# Dataset reviews First Look
# First 5 observations
reviews_df.head()

In [ ]:
# Last 5 observations
reviews_df.tail()

### Dataset Rows & Columns count

In [ ]:
# Information Dataset Rows & Columns count
print(f"Their are {info_df.shape[0]} rows and {info_df.shape[1]} Columns in information Dataset.")

In [ ]:
# Reviews Dataset Rows & Columns count
print(f"Their are {reviews_df.shape[0]} rows and {reviews_df.shape[1]} Columns in Reviews Dataset.")

### Dataset Information

In [ ]:
# Information Dataset Info
info_df.info()

In [ ]:
# Reviews Dataset Info
reviews_df.info()

#### Duplicate Values

In [ ]:
# Information Dataset Duplicate Value Count
print(f"Their are {info_df.duplicated().sum()} Duplicated values in information Dataset.")

In [ ]:
# Reviews Dataset Duplicate Value Count
print(f"Their are {reviews_df.duplicated().sum()} Duplicated values in Reviews Dataset.")

#### Missing Values/Null Values

In [ ]:
# Information Missing Values/Null Values Count
info_df.isna().sum().sort_values(ascending=False).reset_index().rename(columns={'index':"Columns",0:"Null value count"})

In [ ]:
# Information Visualizing the missing values
fig=plt.figure(figsize=(18,5))
sns.heatmap(info_df.isna())

In [ ]:
# Reviews Missing Values/Null Values Count
reviews_df.isna().sum().sort_values(ascending=False).reset_index().rename(columns={'index':"Columns",0:"Null value count"})

In [ ]:
# Reviews Visualizing the missing values
fig=plt.figure(figsize=(18,5))
sns.heatmap(reviews_df.isna())

### What did you know about your dataset?

Answer -

**Information Dataset :-**

* There are 105 total observation with 6 different features.

* Feature like collection and timing has null values.

* There are no duplicate values.

* Cost column has object data type because numbers in amount are separated by comma ','.

* Timing represent operational hour but represented in the form of text so has object data type.

**Reviews Dataset :-**

* There are total 10,000 observation and 7 features.

* Except "picture" and "restaurants" feature all others have null values.

* There are total of 36 duplicate values, where all these duplicate values are null.

* Rating represent ordinal data so it should of integer type but its of object type here.

* Timing represent the time when review was posted but show object data type, so we converted it into datetime datatype while loading dataset.

## ***2. Understanding Your Variables***

In [ ]:
# Information Dataset Columns
print(f'The List of Columns in information Dataset  are as follows {info_df.columns.to_list()}.')

In [ ]:
# Reviews Dataset Columns
print(f'The List of Columns in Reviews Dataset are as follows {reviews_df.columns.to_list()}.')

In [ ]:
# Information Dataset Describe
info_df.describe(include='all').T

In [ ]:
# Reviews Dataset Describe
reviews_df.describe(include='all').T

### Variables Description

###**Zomato Restaurant names and Metadata :-**

**Name** : Name of Restaurants

**Links** : URL Links of Restaurants

**Cost** : Per person estimated Cost of dining

**Collection** : Tagging of Restaurants w.r.t. Zomato categories

**Cuisines** : Cuisines served by Restaurants

**Timings** : Restaurant Timings


###**Zomato Restaurant reviews :-** 

**Restaurant** : Name of the Restaurant

**Reviewer** : Name of the Reviewer

**Review** : Review Text

**Rating** : Rating Provided by Reviewer

**MetaData** : Reviewer Metadata - No. of Reviews and followers

**Time**: Date and Time of Review

**Pictures** : No. of pictures posted with review

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
# Information Dataset
info_df.nunique().sort_values(ascending=False).reset_index().rename(columns={'index':"Column Name",0:'Unique Value Count'})

In [ ]:
# Check Unique Values for each variable.
# Reviews Dataset
reviews_df.nunique().sort_values(ascending=False).reset_index().rename(columns={'index':"Column Name",0:'Unique Value Count'})

## ***3. Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready.
# Creating copy of both the datasets.
info1 = info_df.copy()
reviews1 = reviews_df.copy()

In [ ]:
# Code to make information Dataset analysis ready.

# changing the data type of the cost function (removing commas and then converting to integer value).
info1['Cost'] = info1['Cost'].str.replace(",","").astype('int64')

In [ ]:
# filling null value in timings column with MODE because we have only one value.
info1.Timings.fillna(info1.Timings.mode()[0], inplace = True)

In [ ]:
# checking null values in Collections.
missing_percentage = ((info1['Collections'].isnull().sum())/(len(info1['Collections'])))*100
print(f'Percentage of missing value in Collections is {round(missing_percentage, 2)}%')

In [ ]:
#dropping collection column since has more than 50% of null values
info1.drop('Collections', axis = 1, inplace = True)

In [ ]:
# We successfully removed null values from Restaurant information Dataset.
info1.isna().sum().sort_values(ascending=False).reset_index().rename(columns={'index':"Columns",0:"Null value count"})

In [ ]:
# Code to make Reviews Dataset analysis ready.

# Dropping all 36 duplicate values from reviews dataset and keeping their one instance.
reviews1.drop_duplicates(inplace=True)
print(f"Their are {reviews_df.duplicated().sum()} Duplicated values in Reviews Dataset.")

In [ ]:
# We saw that the Data Type for values in Rating is  <class 'str'> so we need to convert it into INT.
print(f"The Data Type for values in Rating is  {type(reviews1['Rating'][0])}.")
reviews1['Rating'].value_counts().reset_index().rename(columns={'index':'Rating','Rating':'Count of Ratings'})

In [ ]:
# Converting "Like" value to zero.
reviews1['Rating'].where(reviews1['Rating']!='Like',0,inplace=True)

#Converting DataType of Rating Column into Float.
reviews1['Rating'] = reviews1['Rating'].astype('float')

#Substituting 0 with median now.
reviews1['Rating'].where(reviews1['Rating']!=0,reviews1.Rating.median(),inplace=True)

In [ ]:
# Extracting Year,Month and Hour from Time column of Dataset for better analysis.
# convert 'Time' column to datetime format
reviews1['Time'] = pd.to_datetime(reviews1['Time'])

# extract year, month and hour from 'Time' column
reviews1['Review_Year'] = reviews1['Time'].dt.year
reviews1['Review_Month'] = reviews1['Time'].dt.month
reviews1['Review_Hour'] = reviews1['Time'].dt.hour

In [ ]:
# We are Extracting Total Review and Total Followers for every Reviewer	from Metadata Column.
reviews1[['Total Review', 'Total Followers']] = reviews1['Metadata'].str.split(',', n=2, expand=True)[[0, 1]]
reviews1['Total Review'] = pd.to_numeric(reviews1['Total Review'].str.split(' ').str[0])
reviews1['Total Followers'] = pd.to_numeric(reviews1['Total Followers'].str.split(' ').str[1])

In [ ]:
# Filling null values in 'Total Followers' column with zero and in 'Review' column with 'NA'.
reviews1.fillna({'Review':'NA','Total Followers':0},inplace=True)

In [ ]:
# we'll go ahead and drop 'Reviewer' column , since all values corresponding to this column are null in dataset.
reviews1[reviews1['Reviewer'].isnull()]

In [ ]:
# dropping null values.
reviews1 = reviews1.dropna(subset=['Reviewer'])

In [ ]:
# We successfully removed null values from Reviews of restaurant Dataset.
reviews1.isna().sum().sort_values(ascending=False).reset_index().rename(columns={'index':"Columns",0:"Null value count"})

In [ ]:
# merging both data frame and combining into one dataframe named info_reviews.
info1 = info1.rename(columns = {'Name':'Restaurant'})
info_reviews = info1.merge(reviews1, on = 'Restaurant')

In [ ]:
# Creating new column in merged dataframe.
info_reviews['Total_Cuisine_Count'] = info_reviews['Cuisines'].apply(lambda x : len(x.split(',')))

### What all manipulations have you done and insights you found?

Answer -

* We created copy of the given two DataFrames.

* **Made information Dataset analysis ready :-** 

    * We changed the data type of the cost function (removing commas and then converting to integer value).

    * Filled null value in timings column with MODE because we have only one value.

    * We dropped collection column since has more than 50% of null values.

* **Made Reviews Dataset analysis ready :-** 

    * We Dropped all 36 duplicate values from dataset and keeping their one instance only.

    * We saw that the Data Type for values in Rating is  <class 'str'> so we converted it into INT and for doing this , we first replaced "like" with 0 and then coverted ratings into and finally replaced that zero with median.

    * We Extracted Year,Month and Hour from Time column of Dataset for better analysis.

    * We also Extracted Total Review and Total Followers for every Reviewer	from Metadata Column.

    * Finally we successfully removed null values from Reviews of restaurant Dataset by applying different techniques.

* We finally merged both data frame and combining into 1 dataframe named info_reviews .

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1 - [**Distribution of Numerical Variables**]

In [ ]:
# Chart - 1 visualization code
plt.figure(figsize = (18,8))
for i,col in enumerate(['Cost','Rating','Total Review','Total Followers']) :
    plt.subplot(2,2,i+1)
    sns.distplot(info_reviews[col], color = 'green', fit = norm)
    feature = info_reviews[col]
    plt.axvline(feature.mean(), color='#ff033e', linestyle='dashed', linewidth=3,label= 'mean')
    plt.axvline(feature.median(), color='#A020F0', linestyle='dashed', linewidth=3,label='median')
    plt.title(f'{col.title()}')
    plt.tight_layout()

##### 1. Why did you pick the specific chart?

Answer -

1.A dist plot provides a visual summary of the distribution of a dataset, which can help in understanding its characteristics and making data-driven decisions.

2.Distplot is helpful in understanding the distribution of the feature.

##### 2. What is/are the insight(s) found from the chart?

Answer -

1.All of them reflect skewness.

2.Maximum restaurant show price range for 500 which can be easily reflected through cost distribution parameter.

3.Most of the restaurant have been rated as 5.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer -

1.Price always place important role in any business alongwith rating which reflects the kind of engagement made for the product.

2.But in this chart we are not able to figure any clear impact or distinction on business.

#### Chart - 2 - [**Top 10 Expensive Restaurant**]

In [ ]:
# Chart - 2 visualization code
data1=info1[['Cost','Restaurant']].sort_values(by='Cost',ascending=False).head(10)
sns.barplot(data = data1, x = 'Cost', y = 'Restaurant')

plt.xlabel('Cost')
plt.ylabel('Top Expensive Restaurant')
plt.title('Top 10 Expensive Restaurant')

##### 1. Why did you pick the specific chart?

Answer -

1.We selected bar graph for display of this information because they are a popular and effective way to visually communicate data to a broad audience because they are easy to read and interpret.

2.Bar graphs are useful for displaying categorical data or numerical data with discrete values.

3.They are commonly used to show the frequency or proportion of different categories or to compare the magnitude of different data points.

##### 2. What is/are the insight(s) found from the chart?

Answer -

We figured out the top 10 most expensive restaurant in the given dataset, and they are :-

* Collage - Hyatt Hyderabad Gachibowli
* Feast - Sheraton Hyderabad Hotel
* Jonathan's Kitchen - Holiday Inn Express & Suites
* 10 Downing Street
* Cascade - Radisson Hyderabad Hitec City
* Zega - Sheraton Hyderabad Hotel
* Republic Of Noodles - Lemon Tree Hotel
* Mazzo - Marriott Executive Apartments
* Arena Eleven
* Barbeque Nation

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer -



1.We figured out most expensive restaurants which helps us to understand the highest revenue generators for the company if in case customers are preferring to order the food from here.

2.Also, we can suggest such restaurants to the customers who have capability of paying higher.

#### Chart - 3 - [**Top 10 Affordable Restaurant**]

In [ ]:
# Chart - 3 visualization code
data2=info1[['Cost','Restaurant']].sort_values(by='Cost').head(10)
sns.barplot(data = data2, x = 'Cost', y = 'Restaurant')
plt.xlabel('Cost')
plt.ylabel('Top affordable Restaurant')
plt.title('Top 10 affordable Restaurant')

##### 1. Why did you pick the specific chart?

Answer -

1.We selected bar graph for display of this information because they are a popular and effective way to visually communicate data to a broad audience because they are easy to read and interpret.

2.Bar graphs are useful for displaying categorical data or numerical data with discrete values.

3.They are commonly used to show the frequency or proportion of different categories or to compare the magnitude of different data points.

##### 2. What is/are the insight(s) found from the chart?

Answer -

We figured out the top 10 most Economical restaurant in the given dataset, and they are :-

* Mohammedia Shawarma
* Amul
* Asian Meal Box
* Sweet Basket
* KS Bakers
* Momos Delight
* Hunger Maggi Point
* Wich Please
* Shah Ghouse Spl Shawarma
* Tempteys

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer -

We figured out most economical restaurants which helps us to understand and recommend these items to the customers who are very much skeptical about the pricing factor , which wil help us to atleast earn some profit rather then nothing.

#### Chart - 4 - [**Restaurant Serving Lowest to highest number of Cuisine**]

In [ ]:
# Chart - 4 visualization code
data3=info_reviews[['Total_Cuisine_Count','Restaurant']].sort_values(by='Total_Cuisine_Count')
data3.drop_duplicates(subset=['Total_Cuisine_Count'], inplace=True)
sns.barplot(data = data3, x = 'Total_Cuisine_Count', y = 'Restaurant')
plt.xlabel('Total_Cuisine_Count')
plt.ylabel('Restaurant')
plt.title('Restaurant Serving Lowest to highest number of Cuisine')

##### 1. Why did you pick the specific chart?

Answer -

1.We selected bar graph for display of this information because they are a popular and effective way to visually communicate data to a broad audience because they are easy to read and interpret.

2.Bar graphs are useful for displaying categorical data or numerical data with discrete values.

3.They are commonly used to show the frequency or proportion of different categories or to compare the magnitude of different data points.

##### 2. What is/are the insight(s) found from the chart?

Answer -

We figured out that their are different hotels which sells different types and number of cuisine among them, we have "hunger maggie point" who serves minimum number of cuisines and "Beyond Flavours" being the one serving maximum number of cuisines.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer -

In order to increase the sales or popularity , we must encourage the restaurants to make available more cuisines since and maintain quality at the same time.

#### Chart - 5 - [**Ratio/Percentage share of Top 5 restaurants who are being reviewed by the reviwer having highest number of followers**]

In [ ]:
# Chart - 5 visualization code
data4=info_reviews.groupby('Restaurant')['Total Followers'].sum().reset_index().sort_values(by='Total Followers',ascending=False).head(5)
plt.figure(figsize=(8,8))
plt.pie(data4["Total Followers"], labels=data4["Restaurant"], autopct='%1.1f%%', startangle=90,shadow=True,explode=[0.1,0.1,0.1,0.1,0.1])

##### 1. Why did you pick the specific chart?

Answer -

1.We selected pie charts for display of this information because their major function is to show the composition of a whole dataset, where each segment represents a different category or subcategory of the data.

2.They can be useful for quickly and easily identifying which categories are most prominent or for comparing the relative sizes of different categories.

##### 2. What is/are the insight(s) found from the chart?

Answer -

1.The pie chart here depicts the ratio/percentage share of top 5 places by the restaurants who are being reviewed by the reviwer having highest number of followers.

2.We found that , the reviewer that reviewed "Pista House" restaurant has the highest number of followers and one who reveiwed "Dunkin's Donuts" had lowest number among top 5 category.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer -

Since such users having highest followers could impact the business both positively and negetively and we need to make sure they receive best of the services and we can focus on providing more offers and possible discounts to them which will indirectly uplift engagment on the platform.

#### Chart - 6 - [**Ratio/Percentage share of bottom 5 restaurants who are being reviewed by the reviwer having lowest number of followers**]

In [ ]:
# Chart - 6 visualization code
data5=info_reviews.groupby('Restaurant')['Total Followers'].sum().reset_index().sort_values(by='Total Followers').head(5)
plt.figure(figsize=(8,8))
plt.pie(data5["Total Followers"], labels=data5["Restaurant"], autopct='%1.1f%%', startangle=90,shadow=True,explode=[0.1,0.1,0.1,0.1,0.1])

##### 1. Why did you pick the specific chart?

Answer -

1.We selected pie charts for display of this information because their major function is to show the composition of a whole dataset, where each segment represents a different category or subcategory of the data.

2.They can be useful for quickly and easily identifying which categories are most prominent or for comparing the relative sizes of different categories.

##### 2. What is/are the insight(s) found from the chart?

Answer -

1.The pie chart here depicts the ratio/percentage share of bottom 5 places by the restaurants who are being reviewed by the reviwer having lowest number of followers.

2.We found that , the reviewer that reviewed "Delhi-39" restaurant has the highest number of followers and one who reveiwed "santhosh Dhaba" had lowest number among bottom 5 category.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer -

Since such users having lowest followers which could impact the business both positively and negetively and we need to make sure they receive best of the services and we can focus on providing more offers and possible discounts to them which will indirectly uplift engagment on the platform and ecourage them to provide most positive and honest feedback and reviews which will lead to increase in their followers.

#### Chart - 7 - [**Varition of count of cuisines served across 4 different years**]

In [ ]:
# Chart - 7 visualization code
plt.figure(figsize=(16, 5))
sns.countplot(x='Total_Cuisine_Count',hue='Review_Year', data=info_reviews)
plt.xlabel('Total_Cuisine_Count')
plt.ylabel('Count across different years')
plt.title('Varition of count of cuisines served across 4 different years')

##### 1. Why did you pick the specific chart?

Answer -

1.A count plot is a type of data visualization that displays the number of occurrences of each category in a categorical variable. It is a simple bar chart that shows the count or frequency of each unique value in a dataset.

2.Count plots are commonly used in data analysis to quickly identify the most common categories in a dataset and to compare the frequency of different categories. They can be easily created using libraries such as seaborn or matplotlib in Python.

##### 2. What is/are the insight(s) found from the chart?

Answer -

1.This graph reflects upon how the different presence of cuisines varies with year.

2.The cuisine number 2 , was served very less in 2016 however its mostly served more in upcoming years as its highest in 2018.

3.On the other hand, cuisine number 6 was served in 2019 only and that too very less in numbers.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer -

We figured out an very imp insight from the above graph that as time progresses we could see a lot of alterations in the amount of cuisines served and some of the cuisines even stopped getting served with time.

#### Chart - 8 - [**Varition of cost according to rating of customer acorss 4 different years**]

In [ ]:
# Chart - 8 visualization code
fig = plt.figure(figsize=(16,5))
sns.stripplot(x='Rating', y='Cost',hue='Review_Year',data=info_reviews, palette=['red','green','skyblue','purple'])
plt.xlabel('Ratings')
plt.ylabel('Cost')
plt.title('Varition of cost according to rating of customer acorss 4 different years')

##### 1. Why did you pick the specific chart?

Answer -

1.A strip plot is a type of data visualization that displays the distribution of a continuous variable within different categories. It works by creating a scatterplot where each data point represents an observation in the dataset and is positioned according to its value on the continuous variable. The data points are then grouped by category, with each group represented by a different color or symbol.

2.Strip plots can be useful for visualizing the spread of data and identifying potential outliers within each category. They are particularly useful when the dataset is small or the categories are discrete.

##### 2. What is/are the insight(s) found from the chart?

Answer -

1.This graph represents the variations of cost according to the rating received by the restaurant acorss the 4 different years i.e. 2016,2017,2018 and 2019.

2.We could see that their are restuarants having high price are being equally reviwed or rated as bad and good, however we could see more data from 2018 and 2019 spread across.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer -

More people tend to give reviews in natural number rather then decimals , and ratings are more or less equally distributed and shows very less relationship with cost since it seemed to be equally distributed.

#### Chart - 9 - [**Relationship between cost and total followers of reveiwer who reveiwed the restaurant**]

In [ ]:
# Chart - 9 visualization code
plt.figure(figsize=(13, 5))
sns.scatterplot(data= info_reviews, x="Cost", y="Total Followers",legend=True, sizes=(20, 2000),palette ="icefire")
plt.xlabel('Cost')
plt.ylabel('Total Followers')
plt.title('Relationship between cost and total followers of reveiwer who reveiwed the restaurant')

##### 1. Why did you pick the specific chart?

Answer -

1.A scatter plot is a type of data visualization that displays the relationship between two numerical variables.

2.It consists of a set of points, each representing a pair of values for the two variables.

3.Scatter plots are often used to identify patterns and relationships between variables, such as whether they are positively or negatively correlated, whether there is a linear or non-linear relationship, or whether there are any outliers or clusters in the data.

##### 2. What is/are the insight(s) found from the chart?

Answer -

1.This graph basically revels information about the fact that for lower cost ranging from 500 to near about 1500, their are expectionally high followers for the reviewers.

2.However as cost decrease we could figure out a little reduction in case of followers. Overall, it does not follow any strong relationship or trend.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer -

We could conclude that the most of the restaurant who's cost is not too exceptionally high or are in medium range (affordable range) have high followers as people might be preferring more into this range.

#### Chart - 10 - [**Cost across different Cuisines**]

In [ ]:
# Chart - 10 visualization code
info_df['Cuisines']= info_df['Cuisines'].str.split(',')
data6 =info_df.explode('Cuisines')
data6['Cost']=data6['Cost'].apply(lambda x: x.replace(',',''))
data6['Cost']=data6['Cost'].apply(lambda x: int(x))

In [ ]:
fig = plt.figure(figsize=[18,6])
sns.barplot(data= data6, x='Cuisines', y= 'Cost', palette ="rainbow")
plt.title("Cost across different Cuisines", size = 22)
plt.xlabel('Cuisine Name', size = 22)
plt.xticks(rotation=90)
plt.ylabel('Cost Across Cuisine', size = 22)
plt.show()

##### 1. Why did you pick the specific chart?

Answer -

1.We selected bar graph for display of this information because they are a popular and effective way to visually communicate data to a broad audience because they are easy to read and interpret.

2.Bar graphs are useful for displaying categorical data or numerical data with discrete values.

3.They are commonly used to show the frequency or proportion of different categories or to compare the magnitude of different data points.

##### 2. What is/are the insight(s) found from the chart?

Answer -

1.This reflects the "estimated cost of two" and how it varies according to the different types of cuisines served by the restaurant.

2.We could see that the category "Modem Indian" reflects the higest cost and "arabian" being the lowest.

3.We figured out a lot of variations among the cost of different types of cuisines available .

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer -

We figured out that, their are varities of options present for the customers in various price ranges to opt from.

#### Chart - 11 - [**Cuisine availability across months**]

In [ ]:
# Chart - 12 visualization code
data7=info_reviews.copy()
data7['Cuisines']= data7['Cuisines'].str.split(',')
data8 =data7.explode('Cuisines')

In [ ]:
fig = plt.figure(figsize=[18,6])
sns.barplot(data= data8, x='Cuisines', y= 'Review_Month', palette ="rainbow")
plt.title("Cuisine availability across months", size = 22)
plt.xlabel('Cuisine Name', size = 22)
plt.xticks(rotation=90)
plt.ylabel('Month(Feb-April-June-Aug)', size = 22)
plt.show()

##### 1. Why did you pick the specific chart?

Answer -

1.We selected bar graph for display of this information because they are a popular and effective way to visually communicate data to a broad audience because they are easy to read and interpret.

2.Bar graphs are useful for displaying categorical data or numerical data with discrete values.

3.They are commonly used to show the frequency or proportion of different categories or to compare the magnitude of different data points.

##### 2. What is/are the insight(s) found from the chart?

Answer -

1.The graph depicts the availability of different types of cuisines across the four months i.e. Feb, April, June and August.

2.We could figure out that their are certain cuisine which are available only in certain months like healthy food, mexican, arabians, kebab.

3.however most of the cuisines are available during all the months.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer -

In order to focus more on revenue and quality upliftment we should try to make sure that we are providing most of the cuisines during all months so as to satisfy customer demand.

#### Chart - 12 - [**Top 10 revenue generating collection tagged by zomato and and count of restaurants under each collection**]

In [ ]:
# Chart - 12 visualization code
data9 = info_df.explode('Collections')
data9['Cost']=data9['Cost'].apply(lambda x: x.replace(',',''))
data9['Cost']=data9['Cost'].apply(lambda x: int(x))
data10=data9.groupby('Collections').agg({'Name':'count','Cost':'sum'}).sort_values(by='Cost',ascending=False).reset_index().head(10)
plt.figure(figsize=(10, 4))
sns.scatterplot(data= data10, x="Name", y="Collections", size="Cost", 
                hue = 'Cost',legend=True, sizes=(20, 2000),palette ="icefire")
plt.xlabel('Count of Restaurant under each Collection')
plt.ylabel('Top 10 Collections')
plt.title('Top 10 revenue generating collection tagged by zomato and and count of restaurants under each collection')

##### 1. Why did you pick the specific chart?

Answer -

1.A scatter plot is a type of data visualization that displays the relationship between two numerical variables.

2.It consists of a set of points, each representing a pair of values for the two variables.

3.Scatter plots are often used to identify patterns and relationships between variables, such as whether they are positively or negatively correlated, whether there is a linear or non-linear relationship, or whether there are any outliers or clusters in the data.

##### 2. What is/are the insight(s) found from the chart?

Answer -

The chart represents the count of restaurant for top 10 tagged collections in zomato and the estimated cost for two in those restaurants.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer -

Here we could conclude that zomato has some tagged collections which makes it easier for the user to get through the desired food they are looking for , so in order for the business to grow, the restaurant should focus to getting more tags from zomato and keep availability accordingly.

#### Chart - 13 - Correlation Heatmap

In [ ]:
# Correlation Heatmap visualization code
fig=plt.figure(figsize=(18,6))
sns.heatmap(info_reviews[['Cost','Rating','Time','Review_Year','Review_Month','Review_Hour','Total Review','Total Followers','Total_Cuisine_Count']].corr(), annot=True, cmap='PuOr')
plt.show()

##### 1. Why did you pick the specific chart?

Answer -

1.A correlation matrix is a table showing correlation coefficients between variables.

2.Each cell in the table shows the correlation between two variables.

3.A correlation matrix is used to summarize data, as an input into a more advanced analysis, and as a diagnostic for advanced analyses.

4.The range of correlation is [-1,1].

5.Hence to know the correlation between all the variables along with the correlation coeficients, we used correlation heatmap.

##### 2. What is/are the insight(s) found from the chart?

Answer -

1.From the above correlation heatmap, it can be depicted that few features are correlated, like reviewer total review is related to reviewer follower and again reviewer total review is related to pictures.

2.Rest all correlation can be depicted from the above chart.

#### Chart - 14 - Pair Plot

In [ ]:
# Pair Plot visualization code
sns.set_style("darkgrid")
sns.pairplot(info_reviews)
plt.show()

##### 1. Why did you pick the specific chart?

Answer -

1.Pair plot is used to understand the best set of features to explain a relationship between two variables or to form the most separated clusters.

2.It also helps to form some simple classification models by drawing some simple lines or make linear separation in our data-set.

3.Hence, we used pair plot to analyse the patterns in data and relationship between the features.

4.It's kind of similar to correlation map but here you will get the graphical representation.

##### 2. What is/are the insight(s) found from the chart?

Answer -

1.We observed that there is no significant correlation between the given features in the hotel_review data set.

2.However we can observe , very little correlation between columns like pictures, total followers and total review.

## ***5. Hypothesis Testing***

### Based on your chart experiments, define three hypothetical statements from the dataset. In the next three questions, perform hypothesis testing to obtain final conclusion about the statements through your code and statistical testing.

Answer -

1. Restaurants that have more cuisine count will have a higher rating.

2. Restaurants that offer a wider variety of cuisines will have a higher rating.

3. The cost of a restaurant is positively correlated with the rating it receives.

### Hypothetical Statement - 1

#### 1. State Your research hypothesis as a null hypothesis and alternate hypothesis.

Answer -

**Null hypothesis:** The number total cuisne count has has no effect on the rating of a restaurant.

**Alternative Hypothesis:** The number of total cuisne count has  a positive effect on the rating of a restaurant. 

**Test :** Simple Linear Regression test.

#### 2. Perform an appropriate statistical test.

In [ ]:
# Perform Statistical Test to obtain P-Value
import statsmodels.formula.api as smf

# fit the linear model
model = smf.ols(formula='Rating ~ Total_Cuisine_Count', data = info_reviews).fit()

# extract p-value of coefficient for Reviewer_Followers
p_value = model.pvalues[1]

if p_value < 0.05:
    print("Reject Null Hypothesis")
else:
    print("Fail to reject Null Hypothesis")

##### Which statistical test have you done to obtain P-Value?

Answer -

We have used Simple Linear Regression Test.

##### Why did you choose the specific statistical test?

Answer -

1.We choose this test because it is a simple method for testing the relationship between two continuous variables.

2.It assumes that there is a linear relationship between the independent variable (Reviewer_Followers) and the dependent variable (Rating) and it allows us to estimate the strength and direction of that relationship.

3.It also allows us to test the null hypothesis that there is no relationship between the two variables by testing the p-value of the coefficient of the independent variable.

### Hypothetical Statement - 2

#### 1. State Your research hypothesis as a null hypothesis and alternate hypothesis.

Answer -

**Null hypothesis:** The variety of cuisines offered by a restaurant has no effect on its rating. 

**Alternative hypothesis:** The variety of cuisines offered by a restaurant has a positive effect on its rating. 

**Test** : Chi-Squared Test

#### 2. Perform an appropriate statistical test.

In [ ]:
# Perform Statistical Test to obtain P-Value
# create a contingency table
ct = pd.crosstab(info_reviews['Cuisines'], info_reviews['Rating'])

# perform chi-squared test
chi2, p, dof, expected = chi2_contingency(ct)

# Check p-value
if p < 0.05:
    print("Reject Null Hypothesis")
else:
    print("Fail to reject Null Hypothesis")

##### Which statistical test have you done to obtain P-Value?

Answer -

We used chi-squared test for independence to test the relationship between the variety of cuisines offered by a restaurant and its rating.

##### Why did you choose the specific statistical test?

Answer -

1.We choose this test because it is suitable for comparing the relationship between two categorical variables.

2.This involve creating a contingency table with the number of restaurants that offer each cuisine as the rows and the rating of the restaurant as the columns.

### Hypothetical Statement - 3

#### 1. State Your research hypothesis as a null hypothesis and alternate hypothesis.

Answer -

**Null hypothesis:** There is no relationship between the cost of restaurant and the rating it receives. 

**Alternative hypothesis:** There is a positive relationship between the cost of a restaurant and the rating it receives.

**Test** : Simple Linear Regression Analysis

#### 2. Perform an appropriate statistical test.

In [ ]:
# Perform Statistical Test to obtain P-Value
import statsmodels.formula.api as smf

# fit the linear model
model = smf.ols(formula='Rating ~ Cost', data= info_reviews).fit()

# Check p-value of coefficient
p_value = model.pvalues[1]
if p_value < 0.05:
    print("Reject Null Hypothesis - There is no relationship between the cost of\
 restaurant and the rating it receives.")
else:
    print("Fail to reject Null Hypothesis - There is a positive relationship \
 between the cost of a restaurant and the rating it receives.")

##### Which statistical test have you done to obtain P-Value?

Answer -

I have used Linear regression test for checking the relationship between the cost of a restaurant and its rating.

##### Why did you choose the specific statistical test?

Answer -

1.We used this test because it is a simple method for testing the relationship between two continuous variables.

2.This would involve fitting a linear model with the rating as the dependent variable and the cost as the independent variable.

3.The p-value of the coefficient for the cost variable can then be used to determine if there is a statistically significant relationship between the two variables.

## ***6. Feature Engineering & Data Pre-processing***

### 1. Handling Missing Values

In [ ]:
# Handling Missing Values & Missing Value Imputation
#Filling null values in 'Total Followers' column with zero and in 'Review' column with 'NA'.
reviews1.fillna({'Review':'NA','Total Followers':0},inplace=True)

#we'll go ahead and drop 'Reviewer' column , since all values corresponding to this column are null in dataset
reviews1 = reviews1.dropna(subset=['Reviewer'])

#dropping collection column since has more than 50% of null values

#hotels_.drop('Collections', axis = 1, inplace = True)

#filling null value in timings column with MODE because we have only one value.
info1.Timings.fillna(info1.Timings.mode()[0], inplace = True)

#### What all missing value imputation techniques have you used and why did you use those techniques?

Answer -

* **Handling Missing Values for Restaurant information Dataset :-** 

  * It has 1 null value in timing feature and more than 50% null value in collection feature.
  
  * In order to treat those we first replaced the null value for timing with mode since there was only one null value and mode is robust to outliers also the hotel name was one unique feature which had all other feature except timing and collection so it was better to keep that data.
  
  * Since there was more than 50% null values in collection feature, we removed the entire column because columns with a high percentage of null values are likely to have a lot of missing data, which can make it difficult to accurately analyze or make predictions based on the data.


*  **Handling Missing Values for Reviews of restaurant Dataset :-**

 * It has following null values :
 
    * Reviewer - 2
    * Review - 9
    * Rating - 2
    * Metadata - 2
    * Time - 2 
    * Total Review- 3
    * Total Followers - 1581
    * Review_Year - 2
    * Review_Month - 2
    * Review_Hour - 2.
 
  * On analysing we found that feature reviewer had all null values, therefore we removed that column which made null values in other feature to zero except in review and total followers columns.
  
  * Since review was textual data, we changed those 7 null values to 'no review' and total followers to 0 as follower is the meta data for reviewer and it can be 0.

* **And thus all null values were treated and at the end we merged both the dataset.**

### 2. Handling Outliers

In [ ]:
# Handling Outliers & Outlier treatments
symmetric_feature = []
non_symmetric_feature = []
for i in info_reviews.describe().columns:
    info_reviews[i] = pd.to_numeric(info_reviews[i], errors='coerce')
    info_reviews[i].dropna(inplace=True)
    if abs(info_reviews[i].mean() - info_reviews[i].median()) < 0.2:
        symmetric_feature.append(i)
    else:
        non_symmetric_feature.append(i)

In [ ]:
# Plotting distribution plot to visually check outliers for skew symmetric features.
for col in non_symmetric_feature:
    sns.displot(info_reviews[col], kde=True)

In [ ]:
# Implementing Interquartile Range method For Skew Symmetric features.
for v in non_symmetric_feature:
   vals = info_reviews[v].quantile([0.25,0.75])
   iqr = vals.values[1] - vals.values[0]
   min_lim, max_lim = vals.values[0] - 1.5*iqr, vals.values[1] + 1.5*iqr
   #Assigning those outliers with min and max values
   info_reviews[v] = info_reviews[v].apply(lambda x : min_lim if x < min_lim else x)
   info_reviews[v] = info_reviews[v].apply(lambda x : max_lim if x > max_lim else x)

##### What all outlier treatment techniques have you used and why did you use those techniques?

Answer -

1.In order to handle outliers present in skew symmetric/non symmetric features IQR method is implemented.

2.IQR stands for Interquartile Range, which is a measure of the spread or variability of a dataset. It is defined as the difference between the third quartile (Q3) and the first quartile (Q1) of the dataset.

3.The IQR method is a way to identify outliers in a dataset. An outlier is a data point that falls significantly outside the range of the rest of the data. To use the IQR method to identify outliers, you first calculate the IQR of the dataset. Then, any data point that falls more than 1.5 times the IQR below Q1 or above Q3 is considered an outlier.

### 3. Categorical Encoding

In [ ]:
# Encode your categorical columns
# Extracting 2 columns required from merged dataset
col_of_intrest=info_reviews[['Restaurant','Cuisines']]

# Since cuisines are present in the form of string  so converting it into list and then exploding
col_of_intrest['Cuisines']=col_of_intrest['Cuisines'].str.split(',').explode('Cuisines').apply(lambda x: x.strip())

# Finally performing Encoding 
col_of_intrest= pd.get_dummies(col_of_intrest, columns=["Cuisines"])

# We are grouping by restaurant to remove repeatation generated due to exploding 
col_of_intrest = col_of_intrest.groupby("Restaurant").sum().reset_index()

In [ ]:
# Creating new column in merged dataframe
info_reviews['Total_Cuisine_Count'] = info_reviews['Cuisines'].apply(lambda x : len(x.split(',')))

In [ ]:
# FINAL REQUIRED DATAFRAME (Including other features like 'Cost','Rating','Total_Cuisine_Count' 
col_of_intrest=info_reviews[['Restaurant','Cost','Rating','Total_Cuisine_Count'
                      ]].merge(col_of_intrest, on = 'Restaurant')

#### What all categorical encoding techniques have you used & why did you use those techniques?

Answer -

**We used one hot encoding on the cuisine category and based on the cuisine if present we allocated value of 1 else value of 0.**

* One-hot encoding does not assume any ordinal relationship between the categories, making it suitable for categorical features that do not have a natural ordering.

* Handling categorical variables with many unique values which means it can handle categorical features with a high cardinality, which can be useful when there are many unique categories.

* One-hot encoding can handle categorical features with multiple levels, such as "state" and "city". This can be useful when there are many unique combinations of levels.

* One-hot encoding can handle missing values by creating a new category for them.

* Features are easy to interpret as the encoded values are binary, thus making it easy to understand the relationship between the categorical feature and the target variable.

* Features generated are compatible with most machine learning models, including linear and logistic regression, decision trees, and neural networks.

### 4. Textual Data Preprocessing 
(It's mandatory for textual dataset i.e., NLP, Sentiment Analysis, Text Clustering etc.)

#### 1. Expand Contraction

In [ ]:
# Expand Contraction
# Creating new df for text processing for sentiment analysis
sentiment_df= info_reviews[['Reviewer','Restaurant','Rating','Review']]

# Applying fuction for contracting text
sentiment_df['Review']=sentiment_df['Review'].apply(lambda x:contractions.fix(x))

#### 2. Lower Casing

In [ ]:
# Lower Casing
sentiment_df['Review'] = sentiment_df['Review'].str.lower()

#### 3. Removing Punctuations

In [ ]:
# Remove Punctuations
import string
def remove_punctuation(text):

  # Replacing the punctuations with no space which deletes the punctuation marks
  translator = str.maketrans('', '', string.punctuation)
  # Return the text free from punctuation marks
  return text.translate(translator)

# Remove punctuation using function created
sentiment_df['Review'] = sentiment_df['Review'].apply(remove_punctuation)

#### 4. Removing URLs & Removing words and digits contain digits.

In [ ]:
# Remove URLs & Remove words and digits contain digits
import re
# Remove links
sentiment_df["Review"] = sentiment_df["Review"].apply(lambda x: re.sub(r"http\S+", "", x))

# Remove digits
sentiment_df["Review"] = sentiment_df["Review"].apply(lambda x: re.sub(r"\d+", "", x))

#### 5. Removing Stopwords & Removing White spaces

In [ ]:
# Remove Stopwords
# Extracting the stopwords from nltk library
sw = stopwords.words('english')

# Function to remove stopwords
def delete_stopwords(text):
  # Removing the stop words and lowercasing the selected words
  text = [word.lower() for word in text.split() if word.lower() not in sw]
  # Joining the list of words with space separator
  return " ".join(text)

# Calling function to remove stopwords
sentiment_df['Review'] = sentiment_df['Review'].apply(delete_stopwords)

In [ ]:
# Remove White spaces
sentiment_df['Review'] =sentiment_df['Review'].apply(lambda x: " ".join(x.split()))

#### 6. Tokenization

In [ ]:
# Tokenization
sentiment_df['Review'] = sentiment_df['Review'].apply(nltk.word_tokenize)

#### 7. Text Normalization

In [ ]:
# Normalizing Text (i.e., Stemming, Lemmatization etc.)
# Create a lemmatizer
lemmatizer = WordNetLemmatizer()

def lemmatize_tokens(tokens):
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]
    return lemmatized_tokens

# Lemmatize the 'Review' column
sentiment_df['Review'] = sentiment_df['Review'].apply(lemmatize_tokens)

##### Which text normalization technique have you used and why?

Answer -

We used Lemmatization as a text normalization technique.

1. Lemmatization is the process of reducing words to their base or root form, similar to stemming. 

2. But lemmatization uses a dictionary-based approach and considers the context of the word in order to determine its base form, while stemming uses simple heuristics and does not consider the context of the word. 

3. Lemmatization is a more accurate way of finding the root form of a word as it takes into account the context of the word as well as its grammatical structure.

4. Lemmatization is often used in tasks such as text classification and information retrieval, where the meaning of the words is important.

#### 8. Text Vectorization

In [ ]:
# Vectorizing Text
vectorizer = TfidfVectorizer(tokenizer=lambda x: x, lowercase=False)
vectorizer.fit(sentiment_df['Review'].values)

# Creating independent variable for sentiment analysis
X_f = vectorizer.transform(sentiment_df['Review'].values)

##### Which text vectorization technique have you used and why?

Answer -

**We used Tf-idf Vectorization technique.**

1. TF-IDF (term frequency-inverse document frequency) is a technique that assigns a weight to each word in a document. It is calculated as the product of the term frequency (tf) and the inverse document frequency (idf).

2. The term frequency (tf) is the number of times a word appears in a document, while the inverse document frequency (idf) is a measure of how rare a word is across all documents in a collection.

3. The intuition behind tf-idf is that words that appear frequently in a document but not in many documents across the collection are more informative and thus should be given more weight.

4. The mathematical formula for tf-idf is as follows:

    * **tf-idf(t, d, D) = tf(t, d) * idf(t, D)**

    where t is a term (word), d is a document, D is a collection of documents, tf(t, d) is the term frequency of t in d, and idf(t, D) is the inverse document frequency of t in D.

5. The tf component of the weight assigns a value to a word based on how often it appears in the document, while the idf component assigns a value based on how rare the word is in the entire collection of documents. 

6. It also helps to reduce the dimensionality of the data and increases the weight of important words, thus providing more informative and robust feature set for the model to work on.

7. Text vectorization can be used as input for machine learning models.

### 4. Feature Manipulation & Selection

#### 1. Feature Manipulation

In [ ]:
# Manipulate Features to minimize feature correlation and create new features
# Creating new binary feature called sentiment based on rating which has 1 = positive and 0 = negative
sentiment_df['Sentiment'] = sentiment_df['Rating'].apply(
    lambda x: 1 if x >=sentiment_df['Rating'].mean() else 0)

#### 2. Feature Selection

In [ ]:
# Select your features wisely to avoid overfitting
# Feature selected for sentiment analysis
sentiment_df.columns

##### What all feature selection methods have you used  and why?

Answer -

1.In the next step we will be usign PCA for feature selection which will be beneficial for dimensional reduction.

2.The goal of PCA is to identify the most important variables or features that capture the most variation in the data, and then to project the data onto a lower-dimensional space while preserving as much of the variance as possible.

##### Which all features you found important and why?

Answer -

**Feature selected for sentiment analysis**:- 
* Reviewer
* Restaurant 
* Rating
* Review
* Sentiment

### 5. Data Transformation

#### Do you think that your data needs to be transformed? If yes, which transformation have you used. Explain Why?

1.We applied capping method, it changes mean and median, hence trying to achieve normal distribution using log transformation which treats positive skewness.

2.Gaussian transformation is generally used to convert data distribution into normal distribution.

In [ ]:
# Transform Your data
col_of_intrest['Cost'] = np.log1p(col_of_intrest['Cost'])

In [ ]:
# Transforming data
for i,col in enumerate(['Cost']) :
    sns.distplot(col_of_intrest[col], color = '#055E85', fit = norm)
    feature = col_of_intrest[col]
    plt.axvline(feature.mean(), color='#ff033e', linestyle='dashed', linewidth=3,label= 'mean') 
    plt.axvline(feature.median(), color='#A020F0', linestyle='dashed', linewidth=3,label='median')
    plt.legend(bbox_to_anchor = (1.0, 1))
    plt.title(f'{col.title()}')
    plt.tight_layout()

### 6. Data Scaling

In [ ]:
# Scaling your data
# Normalizing numerical columns
numerical_col = ['Cost','Total_Cuisine_Count','Rating']
scaler = StandardScaler()
scaler.fit(col_of_intrest[numerical_col])
scaled_df = col_of_intrest.copy()
scaled_df[numerical_col] = scaler.transform(col_of_intrest[numerical_col])

##### Which method have you used to scale you data and why?

Answer -

We used standard scaler as those numerical columns and are normally distributed.

### 7. Dimesionality Reduction

##### Do you think that dimensionality reduction is needed? Explain Why?

Answer -

1.Yes we'll use dimensionality reduction techniques as dataset has 40 or more features. This is because, as the number of features increases, the computational cost of clustering algorithms also increases.

2.High dimensionality can lead to the "curse of dimensionality", where the data becomes sparse and the clusters become harder to identify.

3.Dimensionality reduction techniques such as PCA, t-SNE, or LLE can help reduce the number of features while maintaining the important information in the data, making it easier to cluster and interpret the results.

In [ ]:
print(scaled_df.columns)

In [ ]:
# DImensionality Reduction (If needed)
# Setting restaurant feature as index as it still had categorial value
scaled_df.set_index(['Restaurant'],inplace=True)
features = scaled_df.columns

# Create an instance of PCA
pca = PCA()

# Fit PCA on features
pca.fit(scaled_df[features])

In [ ]:
# Explained variance v/s no. of components
plt.plot(np.cumsum(pca.explained_variance_ratio_), marker ='o')
plt.xlabel('number of components',size = 15)
plt.ylabel('cumulative explained variance')
plt.title('Variance v/s No. of Components')
plt.xlim([0, 8])
plt.show()

In [ ]:
# Using n_component as 3 
pca = PCA(n_components=3)

# Fit PCA on features
pca.fit(scaled_df[features])

# Explained variance ratio of each principal component
print('Explained variation per principal component: {}'.format(pca.explained_variance_ratio_))
# variance explained by three components
print('Cumulative variance explained by 3 principal components: {:.2%}'.format(
                                        np.sum(pca.explained_variance_ratio_)))

# Transform data to principal component space
new_reduced_df = pca.transform(scaled_df[features])

In [ ]:
# Shape
print("original shape: ", scaled_df.shape)
print("shape after applying pca:", new_reduced_df.shape)

##### Which dimensionality reduction technique have you used and why? (If dimensionality reduction done on dataset.)

Answer -

1.We have used Principal Component Analysis because it is able to identify patterns in the data that are responsible for the most variation.

2.These patterns, known as principal components, are linear combinations of the original features that are uncorrelated with each other.

3.By using the first few principal components, which account for the majority of the variation in the data, one can effectively reduce the dimensionality of the data while maintaining most of the important information.

4.PCA can be applied to data that have a linear relationship between features.

5.It is also easy to interpret the results as the principal components can be thought of as new, uncorrelated features.

6.PCA can be used for data visualization by projecting high-dimensional data onto a 2D or 3D space for easy visualization.

7.When PCA is applied before k-means, it is used to reduce the dimensionality of the data by transforming the original feature space into a new feature space of uncorrelated principal components. The k-means algorithm is then applied to the transformed data, resulting in clusters that are defined in the new feature space.

8.When PCA is applied after k-means, it is used to visualize the clusters in a lower-dimensional space. The k-means algorithm is applied to the original data, resulting in clusters that are defined in the original feature space. PCA is then used to project the data into a lower-dimensional space, making it easier to visualize and interpret the clusters.

### 8. Data Splitting

In [ ]:
# Split your data to train and test. Choose Splitting ratio wisely.
# For sentiment analysis using sentiment dataframe
# From text vectorization
X = X_f 
Y = sentiment_df['Sentiment']

In [ ]:
# Spliting into test and train
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

# Describes info about train and test set
print("X_train dataset:", X_train.shape)
print("y_train dataset:", Y_train.shape)
print("X_test dataset:", X_test.shape)
print("y_test dataset:", Y_test.shape)

##### What data splitting ratio have you used and why?

Answer -

I have used 80:20 split which is one the most used split ratio because there was only 9961 data, therefore I have used more in training set.

### 9. Handling Imbalanced Dataset

**Not Required**